fastapi
uvicorn[standard]
SQLAlchemy
alembic
psycopg2-binary
python-dotenv
pydantic
requests
httpx
python-multipart
jinja2
openai
sentence-transformers
faiss-cpu
tqdm
gunicorn
bcrypt<4.0  # passlib 1.7.4 is incompatible with bcrypt>=4.0's API changes
python-jose[cryptography]
beautifulsoup4
bs4
langchain
pinecone-client
passlib[bcrypt]
python-docx
razorpay
